.button { -fx-focus-color: transparent;
 -fx-background-radius: 0,0,0,0;
}

.a{
		-fx-background-color: black;
		-fx-text-fill: white;
		-fx-border-radius: 0px;
		-fx-border-color: white;
}

.b{
	-fx-background-color: white;
}